/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-login{
  background: #17a2b8;
  color:white;
}

.btn-signup{
  background: #28a745;
  color:white
}

// .header{
//   background-color:#343a40;
//   position:relative;
//   padding: 0.5rem 1rem;
// }

// .container{
//   display: relative;
// }

// .footer{
//   position:relative;
// }

// .footer p{
//   text-align:center;
// }

// .hometop{
//   text-align:center;
//   margin:0 auto;
// }

// .navbar-brand{
//   display:inline-block;

// }

// .navbar-content ul{
//   display:flex;
//   justify-content: flex-end;
//   align-items: center;
// }

// ul:first-child{
//   margin-right: auto;
// }

// .navbar-content li{
//   padding: 0.5rem 1rem;
//   list-style:none;
// }
